<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
     beStrictAboutTestsThatDoNotTestAnything="true"
     beStrictAboutOutputDuringTests="true"
     bootstrap="../vendor/autoload.php"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     failOnRisky="true"
     failOnWarning="true"
     processIsolation="false"
     stopOnError="false"
     stopOnFailure="false"
     verbose="true"
     executionOrder="random"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Equit Totp Full Test Suite">
            <directory>./</directory>
        </testsuite>
        <testsuite name="Equit Totp Renderers">
            <directory>./Renderers/</directory>
        </testsuite>
    </testsuites>
</phpunit>